.trackspage{
    height:105vh;
    width:100%;
    background-image: linear-gradient(#C99F79,#F6DEBA);
    /* padding-bottom: 105vh; */
}

.tracks_heading{
    font-family: futilepro;
    color: #EA6032;
    font-size:100px;
    text-align: left;
    text-shadow: 8px 8px #0401B9;
    padding-top: 16vh;
    padding-left: 6vw;
}


.gridContainer {
    justify-items: center;
    justify-content: space-around;
    align-items: center;
    padding-top: 3vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 2fr)); /* Adjust the column width as needed */
    grid-gap: 20px; /* Adjust the gap between items */
}  
