.track_card{
    height: 270px;
    width: 425px;
    background-color: #1F8FBF;
}

.track_img{
    height: 183px;
    width: 425px;
    color: #AAAAAA;
    opacity: 54%;
}

.track_content{
    display: flex;
}

.track_content > button{
    height: 45px;
    width: 169px;
    background-color: #EA6032;
    border-radius: 19px;
    box-shadow:  0 8px 16px 0 rgba(0,0,0,0.2), 0 4px 8px 0 #0401B9;
    border-color: #EA6032;
    font-family: futilepro;
}