.mini_card{
    display: flex;
    /* gap:92px; */
    gap: 6rem;
}

.description{
    height: 128px;
    width: 658px;
    background-image: linear-gradient(#EA6032,#C99F79 46%);
    border: solid;
    border-radius: 45px;
    border-width: 6px;
    border-color: #1F8FBF;
}