.landingpage {
    position: relative;
    max-height: 100vh;
    width: 100%;
    /* background: none; */
    background-image: linear-gradient(#09101A, #42495C);
}

.landingpage::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 480px){
    .landingpage{
        max-height: 75vh;
    }
}